<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosDedicatedGatewayConnection" value="<Cosmos DB Dedicated Gateway Connection String>" />

    <add key="DatabaseName" value="db" />
    <add key="ContainerName" value="container" />
    <add key="PartitionKeyPath" value="/id" />
  </appSettings>
</configuration>